/*Documento CSS*/
html, body{
margin:0;
padding:0;
}
body{
font: 76% Verdana, Arial;
}
div#corpo{
float:left;
width:100%;
}

/*stili per menu nascosto*/
.nascosto, hr{
position: absolute;
top: -10000px;
left:-10000px;
width: 0;
height:0;
clear:none;
}

/*stili per intestazione*/
div#intestazione{
position:relative;
margin:0;
padding:5px;
background: #AE4445;
color: #fff;
}
div#intestazione h1{
font-family:Arial, Helvetica, sans-serif;
font-size:1.2em;
color:#fff;
line-height:1.2;
}
div#intestazione p{
font-family:"Courier New", Courier, mono;
font-size:1.1em;
line-height:1.2;
}

/*stili per contenuto*/
div#contenuto{
margin: 0 25%;
color: #000;
}
div#news{
width:250px;
position:absolute;
left:390px!important;
left:375px;
top:-12px!important;
top:1px;
background:#ccc;
}
div#contenuto h2{
font-family:Arial, Helvetica, sans-serif;
font-size:1.2em;
padding:0 5px;
color:#000;
line-height:1.2;
}
div#contenuto p{
font-family:"Courier New", Courier, mono;
font-size:1.1em;
line-height:1.2;
padding:0 5px;
}

/*stili per menu-navigazione*/
div#menu-navigazione{
background:#FADDA5;
color:#000;
float:left;
width:25%;
margin-left:-100%;
}
div#menu-navigazione h2{
font-family:Arial, Helvetica, sans-serif;
font-size:1.2em;
padding-bottom:5px;
padding:0 5px;
color:#000;
line-height:1.2;
}
div#menu-navigazione p{
font-family:"Courier New", Courier, mono;
font-size:1.1em;
line-height:1.2;
padding:0 5px;
}

/*stili per menu secondario*/
div#menu-secondario{
background:#C7DEA5;
float:left;
width:25%;
margin-left:-25%;
}
#menu-secondario h2{
font-family:Arial, Helvetica, sans-serif;
font-size:1.2em;
color:#000;
padding:0 5px;
}
div#menu-secondario p{
font-family:"Courier New", Courier, mono;
font-size:1.1em;
line-height:1.2;
padding:0 5px;
}

/*stili per piè di pagina*/
div#footer{
clear:left;
width:100%;
margin:0;
background-color: #880507;
color: #fff;
padding:5px;
}
div#footer h2{
font-family:Arial, Helvetica, sans-serif;
font-size:1.2em;
color:#fff;
}
div#footer p{
font-family:"Courier New", Courier, mono;
font-size:1.1em;
line-height:1.2;
}


p a{
margin-left:5px;
}
a:link{
background:transparent;
color:#004283;
font-weight:bold;
}
a:visited{
color:#663300;
background:transparent;
font-weight:bold;
}
a:hover,
a:focus,
a:active{
background:#004283;
color:#fff;
text-decoration:none;
font-weight:bold;
}

